
.d-flex{
	@include flexbox();
}
.d-block{
	display: block;
}
.flex-col{
	flex-direction: column;
}
.justify-content-center{
	justify-content: center;
}
.justify-content-between{
	justify-content: space-between;
}